asn1crypto==0.22.0
backports.shutil-get-terminal-size==1.0.0
certifi==2017.11.5
cffi==1.10.0
chardet==3.0.4
cryptography==1.9
cssselect==1.0.1
dj-database-url==0.5.0
Django==1.8.18
django-extensions==1.8.0
django-markdown-deux==1.0.5
docutils==0.14
enum34==1.1.6
googlemaps==2.5.1
gunicorn==19.7.1
html5lib==0.999999999
idna==2.6
ipaddress==1.0.18
lxml==3.8.0
markdown2==2.3.5
mechanize==0.3.5
pathlib==1.0.1
pew==1.1.2
pipenv==11.0.2
psycopg2==2.7.4
pycparser==2.17
PyJWT==1.5.2
pymongo==3.6.0
pyOpenSSL==17.0.0
pyquery==1.2.17
pytz==2018.3
requests==2.18.4
shutilwhich==1.1.0
six==1.10.0
twilio==6.4.1
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.3.0
webencodings==0.5.1
whitenoise==3.3.1
